@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: rgb(44, 44, 44);
  color: azure;
  font-family: 'Poppins', sans-serif;
}

.calc-wrapper {
  display: flex;
  justify-content: center;
  height: 100vh;
  align-items: center;
}

.main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

table {
  display: flex;
  border-collapse: collapse;
}

::-webkit-scrollbar {
  display: none;
}

.output {
  width: 100%;
  background-color: darkgray;
  border: none;
  text-align: right;
  outline-style: none;
  height: 40px;
  font-size: 20px;
  color: white;
  max-width: 320px;
  overflow-x: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.input {
  padding-right: 5px;
  background-color: darkgray;
}

button {
  width: 80px;
  height: 40px;
  border-radius: 0;
  border: 0.5px solid gray;
  cursor: pointer;
}

.zero {
  width: 50%;
}

.orange {
  background-color: rgb(241, 142, 106);
}

nav {
  display: flex;
  justify-content: space-between;
  padding-left: 4%;
  padding-top: 20px;
}

h1 {
  font-size: 27px;
}

.link {
  display: flex;
  list-style: none;
  gap: 20px;
  padding-right: 4%;
}

.homeContainer {
  display: flex;
  flex-direction: column;
  padding: 4%;
  gap: 40px;
}

.calc-container,
.quoteContainer {
  display: flex;
  flex-direction: column;
  padding: 4%;
  align-items: center;
}

.quoteContainer {
  padding-top: 50px;
  font-size: 20px;
}

@media only screen and (min-width: 768px) {
  .link {
    gap: 100px;
  }

  .calc-container {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
  }

  .box {
    display: flex;
    justify-content: center;
    width: 50%;
    height: 50vh;
    border: 2px solid white;
    background-color: dimgray;
  }
}
