* {
  margin: 0;
  padding: 0;
}

.calc-wrapper {
  display: flex;
  justify-content: center;
  height: 100vw;
  align-items: center;
}

.main-container {
  display: flex;
  width: 500px;
  justify-content: center;
}

table {
  display: flex;
  border-collapse: collapse;
}

input {
  width: 100%;
  background-color: darkgray;
  text-align: right;
  border: none;
  outline-style: none;
  height: 40px;
  font-size: 20px;
  color: white;
}

.input {
  padding-right: 5px;
  background-color: darkgray;
}

button {
  width: 80px;
  height: 40px;
  border-radius: 0;
  border: 0.5px solid gray;
}

.zero {
  width: 50%;
}

.orange {
  background-color: rgb(241, 142, 106);
}
