* {
  margin: 0;
  padding: 0;
}

.calc-wrapper {
  display: flex;
  justify-content: center;
  height: 100vh;
  align-items: center;
}

.main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

table {
  display: flex;
  border-collapse: collapse;
}

::-webkit-scrollbar {
  display: none;
}

.output {
  width: 100%;
  background-color: darkgray;
  border: none;
  text-align: right;
  outline-style: none;
  height: 40px;
  font-size: 20px;
  color: white;
  max-width: 320px;
  overflow-x: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.input {
  padding-right: 5px;
  background-color: darkgray;
}

button {
  width: 80px;
  height: 40px;
  border-radius: 0;
  border: 0.5px solid gray;
  cursor: pointer;
}

.zero {
  width: 50%;
}

.orange {
  background-color: rgb(241, 142, 106);
}
